<mat-card class="card-background">
  <mat-card-title>Register</mat-card-title>
  <form (ngSubmit)="register()" class="reg-form">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" name="username" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Register</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
  </form>
</mat-card>
